.restaurants {
  margin-left: 50px;
  border: blueviolet 2px solid;
  width: 275px;
  display: flex;
  flex-direction: column;
}
.restaurants img {
  height: 177px;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
.home {
  border: cadetblue 2px solid;
}
.menue {
  border: pink 3px solid;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;
}
